<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/theme/css/main.css" />
</head>
<body>
	<div class="svg-symbols" style="display: none"></div>
	<header class="header">
		<div class="header__wrapper">
			<div class="header__logo-cont">
				<a class="header__logo" title="Kaspersky Lab"  href="#">
					<img class="header__logo-image" src="/theme/img/logo.png" alt="Kaspersky Lab" title="Kaspersky Lab">
				</a>
			</div>
			<nav class="header__menu">
				<a class="header__menu-link -active" href="#" title="Главная">Главная</a>
				<a class="header__menu-link" href="#" title="Задания">Задания</a>
				<a class="header__menu-link" href="#" title="Рейтинг">Рейтинг</a>
			</nav>	
			<div class="header__controls">
				<button class="header__login" title="логин">
					<span class="header__login-image">
						<svg class="svg-icon">
							<use xlink:href="#svg-icon_login"></use>
						</svg>
					</span>
					<span class="btn btn_small btn_red-dark">войти</span>
				</button>
			</div>
		</div>	
	</header>
	<div class="slider__section">
		<div class="slider__wrapp">
			<h1 class="slider__text-title">KASPERSKY STUDENT’S CHALLENGE</h1>
			<div class="slider__text-info">
				<p>Привет, IT-гений! Уверен, что разбираешься в IT-технологиях и с компьютером на "ты"? Готов сразиться с сильнейшими и показать свои способности? Тогда этот чемпионат для</p>
			</div>
		</div>		
	</div>
	<div class="line__section">
		<div class="line__wrapp">
			<div class="icon-list">
				<div class="icon-list__item">
					<img class="icon-list__image" src="/theme/img/icon1_stage.png" alt="Icon1" title="Icon1">
					<div class="icon-list__text">
						<p>Чемпионат состоит из 2-х этапов — онлайн-отборочные и офлайн-финал</p>
					</div>
				</div>
				<div class="icon-list__item">
					<img class="icon-list__image" src="/theme/img/icon2_september.png" alt="Icon2" title="Icon2">
					<div class="icon-list__text">
						<p>Для участия в чемпионате необходимо в период с 9 по 25 сентября 2016 года зарегистрироваться на сайти и пройти онлайн-задания</p>
					</div>
				</div>
				<div class="icon-list__item">
					<img class="icon-list__image" src="/theme/img/icon3_bulb.png" alt="Icon3" title="Icon3">
					<div class="icon-list__text">
						<p>Взломай наши CrackMe раньше других, стань лидером рейтинга и получи путевку в финал!</p>
					</div>
				</div>
				<div class="icon-list__item">
					<img class="icon-list__image" src="/theme/img/icon4_medal.png" alt="Icon4" title="Icon4">
					<div class="icon-list__text">
						<p>30 сильнейших участков сразятся в офлайн-финале, который состоится в 14:00 часов 1 октября 2016 года в Большом актовом зале</p>
					</div>
				</div>
				<div class="icon-list__item">
					<img class="icon-list__image" src="/theme/img/icon5_cup.png" alt="Icon5" title="Icon5">
					<div class="icon-list__text">
						<p>В финале тебя ждет захватывающее соревнование из 5 этапов. Тот кто лучше всех справится с заданиями станет победителем чемпионата!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gift__section">
		<div class="gift__wrapp">
			<h1 class="gift__text-title">ПРИЗЫ</h1>
			<div class="gift__pictures">
				<div class="gift__img gift__second">
						<img class="gift__image" src="/theme/img/gift_2.png" alt="gift_2" title="gift_2">
						<img class="gift__image-label gift__second-label" src="/theme/img/gift_2_label.png" alt="gift_2" title="gift_2">
				</div>		
				<div class="gift__img">
					<img class="gift__image gift_first" src="/theme/img/gift_1.png" alt="gift_1" title="gift_1">
					<img class="gift__image-label gift__first-label" src="/theme/img/gift_1_label.png" alt="gift_1" title="gift_1">
				</div>	
				<div class="gift__img gift__third">
					<img class="gift__image" src="/theme/img/gift_3.png" alt="gift_3" title="gift_3">
					<img class="gift__image-label gift__third-label" src="/theme/img/gift_3_label.png" alt="gift_3" title="gift_3">
				</div>		
			</div>
			<div class="gift__info">
				<div class="gift__text-info">
					<p>По итогам на нашем сайте будет опубликован официальный рейтинг участников.</p>
					<p>Тридцать участников с лучшим результатом получат приглашение для участия в финале.</p>
				</div>
				<div class="gift__text-info -red">
					<p>Регистрируй свои результаты и будь победителем!*</p>
				</div>
			</div>
				<div class="gift__buttons">
					<a class="btn btn_red" >авторизация</a>
					<a class="btn btn_green">задания</a>				
				</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer__wrapper">
				<img class="footer__cup" src="/theme/img/cup.png" alt="" title="">
			<div class="footer__text-link">
			<a class="footer__link" href="#" title="Полные правила">Полные правила</a>
			</div>
			<div class="footer__mark-link">
			<a class="footer__mark" href="#" title="Полные правила">Kaspersky Student’s Challenge 2016</a>
			</div>
			<div class="footer__social-link">
				<div class="socials">
					<a class="social-link" href="#">
						<svg class="svg-icon">
							<use xlink:href="#svg-social_vk"></use>
						</svg>
					</a>
					<a class="social-link" href="#">
						<svg class="svg-icon">
							<use xlink:href="#svg-social_f"></use>
						</svg>
					</a>
					<a class="social-link" href="#">
						<svg class="svg-icon">
							<use xlink:href="#svg-social_twitter"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>

	<script src="/theme/js/jquery.js?v=1"></script>
	<script src="/theme/js/all.js?v=1"></script>
</body>
</html>