<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/theme/css/main.css" />
</head>
<body>
	<div class="svg-symbols" style="display: none"></div>
	<header class="header">
		<div class="header__wrapper">
			<div class="header__logo-cont">
				<a class="header__logo" title="Kaspersky Lab"  href="#">
					<img class="header__logo-image" src="/theme/img/logo.png" alt="Kaspersky Lab" title="Kaspersky Lab">
				</a>
			</div>
			<nav class="header__menu">
				<a class="header__menu-link" href="#" title="Главная">Главная</a>
				<a class="header__menu-link -active" href="#" title="Задания">Задания</a>
				<a class="header__menu-link" href="#" title="Рейтинг">Рейтинг</a>
			</nav>	
			<div class="header__controls">
				<div class="header__greeting">
					<a class="header__greeting-text" href="#" title="Приветствие">привет, zakurdaev!</a>
				</div>
				<button class="header__login" title="логин">
					<span class="btn btn_small btn_red">выход</span>
				</button>
			</div>
		</div>	
	</header>
	<div class="slider__section-task">
		<div class="slider__wrapp">
			<h1 class="slider__text-title">KASPERSKY STUDENT’S CHALLENGE</h1>
			<div class="slider__flag-cnt">
				<div class="flag__text">задания</div>
			</div>
			<div class="slider__text-info">
				<p>Разгадайте задания, подобрав серийный номер для своего email, под которым вы логинитесь</p>
			</div>
		</div>		
	</div>
	<div class="task__section">
		<div class="task__wrapp">
			<div class="task-list_table">
				<div class="task-list_row">
					<div class="task-list__item">
						<img class="task-list__image" src="/theme/img/icon_phone.png" alt="Icon1" title="Icon1">
						<img class="task-list__image-overlay" src="/theme/img/icon_overlay.png" alt="Icon1" title="">
						<img class="task-list__image-accept" src="/theme/img/task_accept.png" alt="" title="">
						<div class="task-list__image-text-cnt">
							<div class="task-list__image-text">телефон</div>
						</div>
						<div class="task-list__text">
							<p>Злоумышленник похитил твой телефон и собирается слить с него все данные.Восстанови код, чтобы заблокировать свой телефон.</p>
						</div>
					</div>
					<div class="task-list__item -accept">
						<img class="task-list__image" src="/theme/img/icon_lottery.png" alt="Icon2" title="Icon2">
						<img class="task-list__image-overlay" src="/theme/img/icon_overlay.png" alt="Icon2" title="Icon2">
						<img class="task-list__image-accept" src="/theme/img/task_accept.png" alt="Icon2" title="Icon2">
						<div class="task-list__image-text-cnt">
							<div class="task-list__image-text">лотерея</div>
						</div>											
						<div class="task-list__text">
							<p>Ты выиграл в лотерею миллион, но письмо с призовым кодом было утеряно. Восстанови код с призом!</p>
						</div>
					</div>
					<div class="task-list__item">
						<img class="task-list__image" src="/theme/img/icon_card.png" alt="Icon3" title="Icon3">
						<img class="task-list__image-overlay" src="/theme/img/icon_overlay.png" alt="Icon3" title="Icon3">
						<img class="task-list__image-accept" src="/theme/img/task_accept.png" alt="Icon3" title="Icon3">
						<div class="task-list__image-text-cnt">
							<div class="task-list__image-text">кредитная карта</div>
						</div>												
						<div class="task-list__text">
							<p>Невероятно! Злоумышленник пытается списать себе все средства с твоей кредитной карточки. Не дай ему распорядиться твоим бюджетом.</p>
						</div>
					</div>
				</div>
				<div class="task-list_row">
					<div class="task-list__item">
						<a class="btn btn_white">начать</a>
					</div>
					<div class="task-list__item">
						<a class="btn btn_green-light" >выполнено!</a>
					</div>
					<div class="task-list__item">
						<a class="btn btn_red" >некорректный ответ</a>
					</div>
				</div>
			</div>
			<div class="task__text-info">
				<p>Для выполнения заданий вам необходимо авторизоваться</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer__wrapper">
				<img class="footer__cup" src="/theme/img/cup.png" alt="" title="">
			<div class="footer__text-link">
			<a class="footer__link" href="#" title="Полные правила">Полные правила</a>
			</div>
			<div class="footer__mark-link">
			<a class="footer__mark" href="#" title="Полные правила">Kaspersky Student’s Challenge 2016</a>
			</div>
			<div class="footer__social-link">
				<div class="socials">
					<a class="social-link" href="#">
						<svg class="svg-icon">
							<use xlink:href="#svg-social_vk"></use>
						</svg>
					</a>
					<a class="social-link" href="#">
						<svg class="svg-icon">
							<use xlink:href="#svg-social_f"></use>
						</svg>
					</a>
					<a class="social-link" href="#">
						<svg class="svg-icon">
							<use xlink:href="#svg-social_twitter"></use>
						</svg>
					</a>
				</div>
			</div>

		</div>
	</div>

	<script src="/theme/js/jquery.js?v=1"></script>
	<script src="/theme/js/all.js?v=1"></script>
</body>
</html>